<section class="section-engagement">
<div id="foo" class="style-new"></div>
<div class="dark style-new featured">
    <div class="container">
        <div class="row" id="entreprise">
            {{ range .Params.mission }}
            <div class="4u 12u(narrow)">
                <section>
                    <span class="feature-icon"><span class="icon"><img src="{{ .picto }}" class="picto" ></span></span>
                    <header>
                        <h3>{{ .name | markdownify }}</h3>
                    </header>
                    <p>{{ .details }}</p>
                </section>
            </div>
            {{ end }}
        </div>
        <div class="column">
            <div class="column is-half is-offset-one-quarter">
            <button class="button modal-button onepercent" data-target="#modal-engagement">En savoir plus</button>
            </div>
        </div>
    </div>
</div>
<div id="bar" class="style-new"></div>
<div class="overlay">
<div id="modal-engagement" class="modal modal-engagement">
  <div class="modal-background"></div>
  <div class="modal-card">
      <div class="modal-card-head">
          <p class="modal-card-title">Notre engagement</p>
      </div>
      <section class="modal-card-body modal-service">
        {{ range .Params.engagement }}
          <div class="content">
              <p>{{ .details | markdownify }}</p>
              <div class="columns is-mobile is-multiline is-centered">
                      {{ range .gallery }}
                          <div class="column is-narrow">
                              <figure class="image is-200x200">
                                  <img src="{{ .image }}">
                              </figure>
                          </div>
                      {{ end }}
                      </div>
          </div>
          {{ end }}
      </section>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

</section>
