<section class="section-engagement" id="entreprise">
<div id="foo" class="style-new"></div>
<div class="dark style-new featured">
    <div class="container">
        <div class="row">
            <div class="4u 12u(narrow)">
                <section>
                    <span class="feature-icon"><span class="icon"><img src="/images/shield.png" class="picto" ></span></span>
                    <header>
                        <h3>La garantie<br>sécurité</h3>
                    </header>
                    <p class="enga">Montchat PERCHÉ réunit 15 années d'expérience en travaux sur cordes au service d'interventions sécurisées en hauteur et d'accès difficile. Spécialisés dans les interventions en milieu urbain, nos techniques de cordes nous permettent un accès rapide et en toute sécurité dans les zones difficiles d'accès.</p>
                </section>
            </div>
            <div class="4u 12u(narrow)">
                <section>
                    <span class="feature-icon"><span class="icon"><img src="/images/onepercentwhite.png" class="picto" ></span></span>
                    <header>
                        <h3>Notre<br>engagement</h3>
                    </header>
                    <p class="enga">Chaque année, près de 1300 entreprises reverse 1% de leur CA pour soutenir cette association.<br>En 2016, Montchat PERCHE est la première entreprise française de bâtiment à rejoindre ce mouvement international.<br>Leur mission est d’animer, promouvoir et développer des projets pour la protection et la restauration de notre environnement naturel.</p>
                </section>
                <button class="button modal-button onepercent" data-target="#modal-engagement">En savoir plus</button>
            </div>
            <div class="4u 12u(narrow)">
                <section>
                    <span class="feature-icon"><span class="icon"><img src="/images/question.png" class="picto" ></span></span>
                    <header>
                        <h3>Conseils et<br>Renseignements</h3>
                    </header>
                    <p class="enga">Nous mettons à votre disposition l’ensemble de nos solutions techniques pour vous accompagner dans vos démarches d’entretien des bâtis, neufs et anciens, en zone d’accès difficile.<br>Renseignements et devis gratuits.</p>
                </section>
            </div>
        </div>

    </div>
</div>
<div id="bar" class="style-new"></div>
<div class="overlay">
<div id="modal-engagement" class="modal modal-engagement">
  <div class="modal-background"></div>
  <div class="modal-card">
      <div class="modal-card-head">
          <h2 class="modal-card-title">Notre engagement</h2>
      </div>
      <section class="modal-card-body modal-service">
          <div class="content text-center">
              <h3>- 1% Pour la planète -</h3>
              <p>Montchat PERCHÉ reverse chaque année 1% de son chiffre d'affaire à l'organisation</p>
              <a href="http://www.onepercentfortheplanet.org/" target="_blank"><figure class="text-center">
              <img src="/images/onepercent.png" alt="onepercent" class="engagement-logo">
            </figure></a>
              <h3>- Mobilité Urbaine -</h3>
              <p class="text-center">Triporteur et vélo sont les deux véhicules privilégiés pour les rendez-vous et interventions.</p>
              <h4>Cyclick</h4>
              <p>Annuaire d’entrepreneurs à vélo</p>
              <a href="http://cyclick.fr/" target="_blank"><figure class="text-center">
              <img src="/images/cyclick.png" alt="cyclick" class="engagement-logo">
            </figure></a>
              <h4>Boîtes à vélo Lyon</h4>
              <p>Prenant exemple sur d'autres ville de France (Grenoble, Nantes,...) nous participons à la création de l'association regroupant les entrepreneurs lyonnais à vélo</p>
                <figure class="text-center">
                <img src="/images/new/triporteur.jpg" alt="triporteur" class="image is-400">
              </figure>
              </div>
      </section>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
</section>
