<section id="equipe" class="container">
        <header class="minor container 75% ">
            <h2>L'équipe</h2>
        </header>

        <div class="container">
            <div class="row text-center">
                <div class=" 6u 12u(narrow)">
                    <img class="is-circle equipe-img" src="/images/new/paul-gregori.JPG" alt="" />
                    <h3>Paul Gregori</h3>
                    <p class="equipe-tel">Les quinze ans d’expérience de Paul GREGORI en travaux acrobatiques et dans l'encadrement de personnes permet à notre équipe d'être le partenaire d'accès technique de nombreux corps de métiers complémentaires (couvreur, plombier, électricien, désamianteur, huissier, expert, bureau d'études, cabinet d'architecte,...)<br>
                    Son goût pour la verticalité prend source dans son enfance, avec la découverte de l’escalade qu’il pratique encore aujourd’hui.</p>
                </div>

                <div class="6u 12u(narrow)">
                    <img class="is-circle equipe-img" src="/images/new/emilie-renaudier.JPG" alt="" />
                    <h3>Emilie Renaudier</h3>
                    <p>Les dix ans d’expérience d’Emilie RENAUDIER en travaux acrobatiques permet à notre équipe de proposer une large gamme de solutions techniques s’illustrant dans la complémentarité entre les besoins de nos clients et nos compétences.<br>
                    Son goût pour la verticalité prend source dans son enfance, avec la découverte de la spéléologie qu’elle pratique encore aujourd’hui.</p>
                </div>
            </div>
        </div>
    </section>
