<section id="equipe" class="container">
        <header class="minor container 75% ">
            <h2>L'équipe</h2>
        </header>

        <div class="container">
            <div class="row text-center">
                <div class=" 6u 12u(narrow)">
                    <img class="is-circle equipe-img" src="/images/pic01.jpg" alt="" />
                    <h3>Paul Gregory</h3>
                    <p class="equipe-tel">Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus.</p>
                </div>

                <div class="6u 12u(narrow)">
                    <img class="is-circle equipe-img" src="/images/pic02.jpg" alt="" />
                    <h3>Emilie Renaudier</h3>
                    <p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus.</p>
                </div>
            </div>
        </div>
    </section>
