<section id="equipe" class="container">
        <header class="minor container 75% ">
            <h2>L'équipe</h2>
        </header>

        <div class="container equipe">
            <div class="row text-center">
                <div class="6u 12u(narrow)">
                    <img class="is-circle equipe-img" src="/images/new/paul-gregori.JPG" alt="" />
                    <h3>Paul Gregori</h3>
                    <p class="equipe-tel">Après un début de carrière au sein de la brigade des Sapeurs Pompier de Paris, Paul GREGORI décide de devenir cordiste.<br>Ses quinze ans d’expérience en travaux acrobatiques et dans l'encadrement de personnes permet à notre équipe d'être le partenaire d'accès technique de nombreux corps de métiers complémentaires (couvreur, plombier, électricien, désamianteur, huissier, expert, bureau d'études, cabinet d'architecte,...)<br>Son goût pour la verticalité prend source dans son enfance, avec la découverte de l’escalade qu’il pratique encore aujourd’hui.</p>
                </div>

                <div class="6u 12u(narrow)">
                    <img class="is-circle equipe-img" src="/images/new/emilie-renaudier.jpg" alt="" />
                    <h3>Emilie Renaudier</h3>
                    <p style="background-color:white;padding-bottom:2rem;">Diplômée en commerce international et communication (Bac+5), Emilie RENAUDIER crée une entreprise de communication destinée aux TPE du domaine de l’industrie. Il y a dix ans, elle opère une reconversion et décide de devenir cordiste.<br>Ses compétences réparties entre terrain et bureau lui permettent d’occuper un poste de chargée d’affaires avant de rejoindre, Montchat PERCHE, en 2017, au poste de directrice générale.</p>
                </div>
            </div>
        </div>
    </section>
