		<!-- Footer -->
		<div id="footer" class="main">
                <div class="container 75%">
                    <header class="major last">
                        <h2 id="contact">Contactez nous</h2>
                    </header>
                {{ partial "contact-form.html" .}}
                    <p class="mail"><a href="mailto:p.gregori@montchatperche.fr">p.gregori@montchatperche.fr</a><br><a href="mailto:e.renaudier@montchatperche.fr">e.renaudier@montchatperche.fr</a></p>
										<p class="mail"><a href="tel:+33427786217"><strong>04 27 78 62 17</strong></a></p>
										<p>10 rue Claudius Penet 69003 LYON</p>
                    <ul class="icons">
                        <li><a href="https://www.facebook.com/Montchat-Perch%C3%A9-1557981944436999/" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
                        <li><a href="https://www.instagram.com/montchatperche/" class="icon fa-instagram"><span class="label" target="_blank">Instagram</span></a></li>
                    </ul>
                        </div>
                        <ul class="copyright">
                        <li>CC-BY-SA</li><li>Design inspired by: <a href="http://html5up.net">HTML5 UP</a></li><li>Proudly hosted by: <a href="https://indie.host">IndieHosters</a></li>
                    </ul>
                </div>
