		<!-- Footer -->
		<div id="footer" class="main">
                <div class="container 75%">
                    <header class="major last">
                        <h2 id="contact">Contactez nous</h2>
                    </header>
                {{ partial "contact-form.html" .}}
                    <p>p.gregori@montchatperche.fr<br>e.renaudier@montchatperche.fr<br><strong>06 15 49 17 29<br>06 60 46 16 19</strong></p>
										<p>10 rue Claudius Penet 69003 LYON</p>
                    <ul class="icons">
                        <li><a href="https://www.facebook.com/Montchat-Perch%C3%A9-1557981944436999/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    </ul>
                        </div>
                        <ul class="copyright">
                        <li>&copy; Copyleft motherfuckers</li><li>Design inspired by: <a href="http://html5up.net">HTML5 UP</a></li><li>Proudly hosted by: <a href="https://indie.host">IndieHosters</a></li>
                    </ul>
                </div>
