<!-- modal content -->
{{ range .Params.services }}
<div id="modal-{{.identifier}}" class="modal modal-{{.identifier}}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <div class="modal-card-head">
            <p class="modal-card-title">{{ .name }}</p>
        </div>
        <section class="modal-card-body modal-service">
            <div class="content">
                <p>{{ .details | markdownify }}</p>
                <div class="columns is-mobile is-multiline is-centered">
                        {{ range .gallery }}
                            <div class="column is-narrow">
                                <figure class="image is-128x128">
                                    <img src="{{ .image }}">
                                </figure>
                            </div>
                        {{ end }}
                        </div>
            </div>
        </section>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{{ end }}
