<nav id="test" class="navbar navbar-default is-fixed-top hidden">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="/images/logo-blanc.png" alt="Bulma: a modern CSS framework based on Flexbox" width="118" height="60">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="#main">
        Activités
      </a>
      <a class="navbar-item" href="#entreprise">
        L'entreprise
      </a>
      <a class="navbar-item" href="#actu">
        Actus
      </a>
      <a class="navbar-item" href="#equipe">
        L'équipe
      </a>
      <a class="navbar-item" href="#contact">
        Contact
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item navbar-icons">
        <ul class="icons">
          <li>
            <a href="#" class="icon fa-facebook">
              <span class="label">Facebook</span>
            </a>
          </li>
          <li>
            <a href="#" class="icon fa-instagram">
              <span class="label">Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
