<section class="section-services row">
        <ul id="hexGrid">
            {{ range .Params.services }}
            <li class="hex">
                <div class="hexIn">
                    <div class="hexLink" href="#">
                            <img src="{{ .thumbnail }}" alt="" />
                    </div>
                </div>
            </li>
            <li class="hex hex-color">
                    <div class="hexIn hex-color">
                        <a class="hexLink hex-color modal-button" data-target="#modal-{{.identifier}}">
                                    <h2 class="hex-text">{{ .name | markdownify}}</h2>
                                <!--
                            <div class="hex-foot columns">
                                    <a class="modal-button" data-target="#modal-{{.identifier}}">En savoir plus</a>
                            </div>
                                -->
                        </a>
                    </div>
                </li>
            {{ end }}
            </ul>
            {{ partial "modal.html" . }}
    </section>
