<section class="">
        <footer class="major container 75%">
            <h3>Une equipe de passionnes</h3>
            <p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus.</p>
        </footer>

            <div class="box alt container">
                <div class="row">
                    <div class="column is-3"></div>
                    <div class="column is-6 team-image">
                    <img class="image-circle" src="/images/speleo.jpg" alt="" />
                    </div>
                    <div class="column is-3 left">
                            <h3 class="left">Emilie Renaudier</h3>
                            <p class="left">Passionne de spelelogie, Emilie s'y connait en cordes.</p>
                        </div>
                    </div>
                    <div class="row row-team">
                            <div class="column is-3 right"><h3>Paul Gregori</h3>
                                <p>Professeur d'escalade et de slack, Paul n'a pas le vertige.</p></div>
                            <div class="column is-6 team-image">
                            <img class="image-circle" src="/images/slack.jpg" alt="" />
                            </div>
                            <div class="column is-3">
                                    
                                </div>
                            </div>
                </div>
                </section>