<!DOCTYPE HTML>
<html>
{{ partial "head.html" . }}
	<body>	
		{{ partial "navbar.html" . }}
		{{ partial "header-hero.html" . }}
		<!-- Main -->
		<div class="content">
			<div class="logo-accueil">
				<img class="logo-hero" src="/images/logo-accueil.png" />
			<!--
			<header class="major container 75%">
				<h2>{{ .Params.tagline }}</h2>
			</header>
		-->
	</div>

	{{ partial "service.html" . }}
	{{ partial "engagement.html" . }}
	{{ partial "actu.html" . }}
</div>
	{{ partial "footer.html" . }}
	{{ partial "foot.html" . }}
	</body>
	</html>